@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Makes the scrollbar look nicer in the popup */
body {
  background-color: #0f172a;
}
/* Optional: Smooth scroll bar for the list */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}